body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(https://c4.wallpaperflare.com/wallpaper/556/382/458/cosmic-dream-4k-wallpaper-preview.jpg) no-repeat;
    background-size: cover;
}

h1{
    color: rgb(241, 175, 137);
    border-radius: 30px;
    margin: 45px;
    padding:20px 30px;
    background: rgba(20, 111, 117, 0.623);
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

canvas{
    border-radius: 35px;
    border: 5px solid #6082B6;
}